In [7]:
#loading insurance.csv file

import pandas as pd
ins= pd.read_csv("insurance.csv")
ins

#print(type(ins))
print(type(ins))

<class 'pandas.core.frame.DataFrame'>

In [4]:
#First 5 rows in DataFrame
ins.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
#Last 5 rows in DataFrame
ins.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [8]:
#the number of rows and columns present in the dataset

ins.shape

(1338, 7)

In [9]:
#mean

ins.mean()

age            39.207025
bmi            30.663397
children        1.094918
charges     13270.422265
dtype: float64

In [10]:
#median

ins.median()

age           39.000
bmi           30.400
children       1.000
charges     9382.033
dtype: float64

In [21]:
#standard Deviation
ins.std()

age            14.049960
bmi             6.098187
children        1.205493
charges     12110.011237
dtype: float64

In [12]:
#Min
ins.min()

age                18
sex            female
bmi             15.96
children            0
smoker             no
region      northeast
charges       1121.87
dtype: object

In [13]:
#Max
ins.max()

age                64
sex              male
bmi             53.13
children            5
smoker            yes
region      southwest
charges       63770.4
dtype: object

In [23]:
#count
print(type(ins.max()))

<class 'pandas.core.series.Series'>

In [22]:
ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [25]:
d=ins.rename(columns={'bmi':'Body_Mass_Index'})
d

      age     sex  Body_Mass_Index  children smoker     region      charges
0      19  female           27.900         0    yes  southwest  16884.92400
1      18    male           33.770         1     no  southeast   1725.55230
2      28    male           33.000         3     no  southeast   4449.46200
3      33    male           22.705         0     no  northwest  21984.47061
4      32    male           28.880         0     no  northwest   3866.85520
5      31  female           25.740         0     no  southeast   3756.62160
6      46  female           33.440         1     no  southeast   8240.58960
7      37  female           27.740         3     no  northwest   7281.50560
8      37    male           29.830         2     no  northeast   6406.41070
9      60  female           25.840         0     no  northwest  28923.13692
10     25    male           26.220         0     no  northeast   2721.32080
11     62  female           26.290         0    yes  southeast  27808.72510
12     23    male           34.400         0     no  southwest   1826.84300
13     56  female           39.820         0     no  southeast  11090.71780
14     27    male           42.130         0    yes  southeast  39611.75770
15     19    male           24.600         1     no  southwest   1837.23700
16     52  female           30.780         1     no  northeast  10797.33620
17     23    male           23.845         0     no  northeast   2395.17155
18     56    male           40.300         0     no  southwest  10602.38500
19     30    male           35.300         0    yes  southwest  36837.46700
20     60  female           36.005         0     no  northeast  13228.84695
21     30  female           32.400         1     no  southwest   4149.73600
22     18    male           34.100         0     no  southeast   1137.01100
23     34  female           31.920         1    yes  northeast  37701.87680
24     37    male           28.025         2     no  northwest   6203.90175
25     59  female           27.720         3     no  southeast  14001.13380
26     63  female           23.085         0     no  northeast  14451.83515
27     55  female           32.775         2     no  northwest  12268.63225
28     23    male           17.385         1     no  northwest   2775.19215
29     31    male           36.300         2    yes  southwest  38711.00000
...   ...     ...              ...       ...    ...        ...          ...
1308   25  female           30.200         0    yes  southwest  33900.65300
1309   41    male           32.200         2     no  southwest   6875.96100
1310   42    male           26.315         1     no  northwest   6940.90985
1311   33  female           26.695         0     no  northwest   4571.41305
1312   34    male           42.900         1     no  southwest   4536.25900
1313   19  female           34.700         2    yes  southwest  36397.57600
1314   30  female           23.655         3    yes  northwest  18765.87545
1315   18    male           28.310         1     no  northeast  11272.33139
1316   19  female           20.600         0     no  southwest   1731.67700
1317   18    male           53.130         0     no  southeast   1163.46270
1318   35    male           39.710         4     no  northeast  19496.71917
1319   39  female           26.315         2     no  northwest   7201.70085
1320   31    male           31.065         3     no  northwest   5425.02335
1321   62    male           26.695         0    yes  northeast  28101.33305
1322   62    male           38.830         0     no  southeast  12981.34570
1323   42  female           40.370         2    yes  southeast  43896.37630
1324   31    male           25.935         1     no  northwest   4239.89265
1325   61    male           33.535         0     no  northeast  13143.33665
1326   42  female           32.870         0     no  northeast   7050.02130
1327   51    male           30.030         1     no  southeast   9377.90470
1328   23  female           24.225         2     no  northeast  22395.74424
1329   52    male           38.600         2     no  southwest  10325.20600
1330   57  female           25.740         2     no  southeast  12629.16560
1331   23  female           33.400         0     no  southwest  10795.93733
1332   52  female           44.700         3     no  southwest  11411.68500
1333   50    male           30.970         3     no  northwest  10600.54830
1334   18  female           31.920         0     no  northeast   2205.98080
1335   18  female           36.850         0     no  southeast   1629.83350
1336   21  female           25.800         0     no  southwest   2007.94500
1337   61  female           29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [30]:
#Pandas dataframe.corr() is used to find the pairwise correlation of all columns in the dataframe.
#Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.

#Find correlation between age children and charges

d.corr(method ='pearson')

                      age  Body_Mass_Index  children   charges
age              1.000000         0.109272  0.042469  0.299008
Body_Mass_Index  0.109272         1.000000  0.012759  0.198341
children         0.042469         0.012759  1.000000  0.067998
charges          0.299008         0.198341  0.067998  1.000000

In [31]:
d.corr(method ='kendall')

                      age  Body_Mass_Index  children   charges
age              1.000000         0.073273  0.043253  0.475302
Body_Mass_Index  0.073273         1.000000  0.011562  0.082524
children         0.043253         0.011562  1.000000  0.103107
charges          0.475302         0.082524  0.103107  1.000000

In [32]:
ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [47]:
#From entire insurance dataframe extract all rows from row number 500 to row number 1000
#inst=ins.iloc[500:1000]

#Extract sex children region  columns

insurance_random_set=inst[["sex", "children", "region"]]
insurance_random_set

         sex  children     region
0     female         0  southwest
1       male         1  southeast
2       male         3  southeast
3       male         0  northwest
4       male         0  northwest
5     female         0  southeast
6     female         1  southeast
7     female         3  northwest
8       male         2  northeast
9     female         0  northwest
10      male         0  northeast
11    female         0  southeast
12      male         0  southwest
13    female         0  southeast
14      male         0  southeast
15      male         1  southwest
16    female         1  northeast
17      male         0  northeast
18      male         0  southwest
19      male         0  southwest
20    female         0  northeast
21    female         1  southwest
22      male         0  southeast
23    female         1  northeast
24      male         2  northwest
25    female         3  southeast
26    female         0  northeast
27    female         2  northwest
28      male         1  northwest
29      male         2  southwest
...      ...       ...        ...
1308  female         0  southwest
1309    male         2  southwest
1310    male         1  northwest
1311  female         0  northwest
1312    male         1  southwest
1313  female         2  southwest
1314  female         3  northwest
1315    male         1  northeast
1316  female         0  southwest
1317    male         0  southeast
1318    male         4  northeast
1319  female         2  northwest
1320    male         3  northwest
1321    male         0  northeast
1322    male         0  southeast
1323  female         2  southeast
1324    male         1  northwest
1325    male         0  northeast
1326  female         0  northeast
1327    male         1  southeast
1328  female         2  northeast
1329    male         2  southwest
1330  female         2  southeast
1331  female         0  southwest
1332  female         3  southwest
1333    male         3  northwest
1334  female         0  northeast
1335  female         0  southeast
1336  female         0  southwest
1337  female         0  northwest

[1338 rows x 3 columns]

In [54]:
ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [58]:
#Extract sex children region  columns
#store result in insurance_random_set

      age     sex     bmi  children smoker     region       charges
335    64    male  34.500         0     no  southwest  13822.803000
603    64  female  39.050         3     no  southeast  16085.127500
752    64    male  37.905         0     no  northwest  14210.535950
1265   64    male  23.760         0    yes  southeast  26926.514400
534    64    male  40.480         0     no  southeast  13831.115200
328    64  female  33.800         1    yes  southwest  47928.030000
768    64  female  39.700         0     no  southwest  14319.031000
1241   64    male  36.960         2    yes  southeast  49577.662400
62     64    male  24.700         1     no  northwest  30166.618170
801    64  female  35.970         0     no  southeast  14313.846300
825    64  female  31.825         2     no  northeast  16069.084750
378    64  female  30.115         3     no  northwest  16455.707850
398    64    male  25.600         2     no  southwest  14988.432000
402    64  female  32.965         0     no  northwest  14692.669350
890    64  female  26.885         0    yes  northwest  29330.983150
94     64  female  31.300         2    yes  southwest  47291.055000
420    64    male  33.880         0    yes  southeast  46889.261200
1051   64    male  26.410         0     no  northeast  14394.557900
418    64    male  39.160         1     no  southeast  14418.280400
199    64  female  39.330         0     no  northeast  14901.516700
635    64    male  38.190         0     no  northeast  14410.932100
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
343    63    male  36.765         0     no  northeast  13981.850350
1068   63    male  21.660         1     no  northwest  14349.854400
1236   63  female  21.660         0     no  northeast  14449.854400
419    63  female  26.980         0    yes  northwest  28950.469200
175    63  female  37.700         0    yes  southwest  48824.450000
480    63    male  41.325         3     no  northwest  15555.188750
830    63    male  33.100         0     no  southwest  13393.756000
...   ...     ...     ...       ...    ...        ...           ...
157    18    male  25.175         0    yes  northeast  15518.180250
1150   18  female  30.305         0     no  northeast   2203.735950
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
121    18    male  23.750         0     no  northeast   1705.624500
1215   18    male  39.140         0     no  northeast  12890.057650
102    18  female  30.115         0     no  northeast  21344.846700
250    18    male  17.290         2    yes  northeast  12829.455100
57     18    male  31.680         2    yes  southeast  34303.167200
469    18  female  24.090         1     no  southeast   2201.097100
911    18    male  31.730         0    yes  northeast  33732.686700
442    18    male  43.010         0     no  southeast   1149.395900
866    18    male  37.290         0     no  southeast   1141.445100
427    18  female  29.165         0     no  northeast   7323.734819
31     18  female  26.315         0     no  northeast   2198.189850
1283   18    male  30.030         1     no  southeast   1720.353700
1282   18  female  21.660         0    yes  northeast  14283.459400
399    18  female  38.170         0     no  southeast   1631.668300
898    18  female  40.260         0     no  southeast   1634.573400
1212   18    male  21.470         0     no  northeast   1702.455300
270    18    male  29.370         1     no  southeast   1719.436300
359    18  female  20.790         0     no  southeast   1607.510100
354    18  female  38.280         0     no  southeast  14133.037750
938    18    male  26.180         2     no  southeast   2304.002200
940    18    male  23.210         0     no  southeast   1121.873900
942    18  female  40.185         0     no  northeast   2217.469150
46     18  female  38.665         2     no  northeast   3393.356350
295    18    male  22.990         0     no  northeast   1704.568100
50     18  female  35.625         0     no  northeast   2211.130750
648    18    male  28.500         0     no  northeast   1712.227000

[1338 rows x 7 columns]

In [59]:
#sort insurance dataframe in descending order of age

a=ins.sort_values('age',ascending=False)
print(a)

      age     sex     bmi  children smoker     region       charges
335    64    male  34.500         0     no  southwest  13822.803000
603    64  female  39.050         3     no  southeast  16085.127500
752    64    male  37.905         0     no  northwest  14210.535950
1265   64    male  23.760         0    yes  southeast  26926.514400
534    64    male  40.480         0     no  southeast  13831.115200
328    64  female  33.800         1    yes  southwest  47928.030000
768    64  female  39.700         0     no  southwest  14319.031000
1241   64    male  36.960         2    yes  southeast  49577.662400
62     64    male  24.700         1     no  northwest  30166.618170
801    64  female  35.970         0     no  southeast  14313.846300
825    64  female  31.825         2     no  northeast  16069.084750
378    64  female  30.115         3     no  northwest  16455.707850
398    64    male  25.600         2     no  southwest  14988.432000
402    64  female  32.965         0     no  northwest  14692.669350
890    64  female  26.885         0    yes  northwest  29330.983150
94     64  female  31.300         2    yes  southwest  47291.055000
420    64    male  33.880         0    yes  southeast  46889.261200
1051   64    male  26.410         0     no  northeast  14394.557900
418    64    male  39.160         1     no  southeast  14418.280400
199    64  female  39.330         0     no  northeast  14901.516700
635    64    male  38.190         0     no  northeast  14410.932100
664    64  female  22.990         0    yes  southeast  27037.914100
170    63    male  41.470         0     no  southeast  13405.390300
343    63    male  36.765         0     no  northeast  13981.850350
1068   63    male  21.660         1     no  northwest  14349.854400
1236   63  female  21.660         0     no  northeast  14449.854400
419    63  female  26.980         0    yes  northwest  28950.469200
175    63  female  37.700         0    yes  southwest  48824.450000
480    63    male  41.325         3     no  northwest  15555.188750
830    63    male  33.100         0     no  southwest  13393.756000
...   ...     ...     ...       ...    ...        ...           ...
157    18    male  25.175         0    yes  northeast  15518.180250
1150   18  female  30.305         0     no  northeast   2203.735950
1163   18  female  28.215         0     no  northeast   2200.830850
1170   18    male  27.360         1    yes  northeast  17178.682400
121    18    male  23.750         0     no  northeast   1705.624500
1215   18    male  39.140         0     no  northeast  12890.057650
102    18  female  30.115         0     no  northeast  21344.846700
250    18    male  17.290         2    yes  northeast  12829.455100
57     18    male  31.680         2    yes  southeast  34303.167200
469    18  female  24.090         1     no  southeast   2201.097100
911    18    male  31.730         0    yes  northeast  33732.686700
442    18    male  43.010         0     no  southeast   1149.395900
866    18    male  37.290         0     no  southeast   1141.445100
427    18  female  29.165         0     no  northeast   7323.734819
31     18  female  26.315         0     no  northeast   2198.189850
1283   18    male  30.030         1     no  southeast   1720.353700
1282   18  female  21.660         0    yes  northeast  14283.459400
399    18  female  38.170         0     no  southeast   1631.668300
898    18  female  40.260         0     no  southeast   1634.573400
1212   18    male  21.470         0     no  northeast   1702.455300
270    18    male  29.370         1     no  southeast   1719.436300
359    18  female  20.790         0     no  southeast   1607.510100
354    18  female  38.280         0     no  southeast  14133.037750
938    18    male  26.180         2     no  southeast   2304.002200
940    18    male  23.210         0     no  southeast   1121.873900
942    18  female  40.185         0     no  northeast   2217.469150
46     18  female  38.665         2     no  northeast   3393.356350
295    18    male  22.990         0     no  northeast   1704.568100
50     18  female  35.625         0     no  northeast   2211.130750
648    18    male  28.500         0     no  northeast   1712.227000

[1338 rows x 7 columns]

In [65]:
t=ins[ins.age !=18]
t

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
30     22    male  35.600         0    yes  southwest  35585.57600
32     19  female  28.600         5     no  southwest   4687.79700
...   ...     ...     ...       ...    ...        ...          ...
1304   42    male  24.605         2    yes  northeast  21259.37795
1305   24  female  27.720         0     no  southeast   2464.61880
1306   29  female  21.850         0    yes  northeast  16115.30450
1307   32    male  28.120         4    yes  northwest  21472.47880
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1316   19  female  20.600         0     no  southwest   1731.67700
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1269 rows x 7 columns]

In [74]:
ins.iloc[500:1000]

     age     sex     bmi  children smoker     region      charges
500   29    male  34.400         0    yes  southwest  36197.69900
501   43    male  26.030         0     no  northeast   6837.36870
502   51    male  23.210         1    yes  southeast  22218.11490
503   19    male  30.250         0    yes  southeast  32548.34050
504   38  female  28.930         1     no  southeast   5974.38470
505   37    male  30.875         3     no  northwest   6796.86325
506   22    male  31.350         1     no  northwest   2643.26850
507   21    male  23.750         2     no  northwest   3077.09550
508   24  female  25.270         0     no  northeast   3044.21330
509   57  female  28.700         0     no  southwest  11455.28000
510   56    male  32.110         1     no  northeast  11763.00090
511   27    male  33.660         0     no  southeast   2498.41440
512   51    male  22.420         0     no  northeast   9361.32680
513   19    male  30.400         0     no  southwest   1256.29900
514   39    male  28.300         1    yes  southwest  21082.16000
515   58    male  35.700         0     no  southwest  11362.75500
516   20    male  35.310         1     no  southeast  27724.28875
517   45    male  30.495         2     no  northwest   8413.46305
518   35  female  31.000         1     no  southwest   5240.76500
519   31    male  30.875         0     no  northeast   3857.75925
520   50  female  27.360         0     no  northeast  25656.57526
521   32  female  44.220         0     no  southeast   3994.17780
522   51  female  33.915         0     no  northeast   9866.30485
523   38  female  37.730         0     no  southeast   5397.61670
524   42    male  26.070         1    yes  southeast  38245.59327
525   18  female  33.880         0     no  southeast  11482.63485
526   19  female  30.590         2     no  northwest  24059.68019
527   51  female  25.800         1     no  southwest   9861.02500
528   46    male  39.425         1     no  northeast   8342.90875
529   18    male  25.460         0     no  northeast   1708.00140
..   ...     ...     ...       ...    ...        ...          ...
970   50  female  28.160         3     no  southeast  10702.64240
971   34  female  23.560         0     no  northeast   4992.37640
972   22  female  20.235         0     no  northwest   2527.81865
973   19  female  40.500         0     no  southwest   1759.33800
974   26    male  35.420         0     no  southeast   2322.62180
975   29    male  22.895         0    yes  northeast  16138.76205
976   48    male  40.150         0     no  southeast   7804.16050
977   26    male  29.150         1     no  southeast   2902.90650
978   45  female  39.995         3     no  northeast   9704.66805
979   36  female  29.920         0     no  southeast   4889.03680
980   54    male  25.460         1     no  northeast  25517.11363
981   34    male  21.375         0     no  northeast   4500.33925
982   31    male  25.900         3    yes  southwest  19199.94400
983   27  female  30.590         1     no  northeast  16796.41194
984   20    male  30.115         5     no  northeast   4915.05985
985   44  female  25.800         1     no  southwest   7624.63000
986   43    male  30.115         3     no  northwest   8410.04685
987   45  female  27.645         1     no  northwest  28340.18885
988   34    male  34.675         0     no  northeast   4518.82625
989   24  female  20.520         0    yes  northeast  14571.89080
990   26  female  19.800         1     no  southwest   3378.91000
991   38  female  27.835         2     no  northeast   7144.86265
992   50  female  31.600         2     no  southwest  10118.42400
993   38    male  28.270         1     no  southeast   5484.46730
994   27  female  20.045         3    yes  northwest  16420.49455
995   39  female  23.275         3     no  northeast   7986.47525
996   39  female  34.100         3     no  southwest   7418.52200
997   63  female  36.850         0     no  southeast  13887.96850
998   33  female  36.290         3     no  northeast   6551.75010
999   36  female  26.885         0     no  northwest   5267.81815

[500 rows x 7 columns]

In [75]:
#From entire insurance dataframe extract all rows from row number 500 to row number 1000
ins_tmp=ins.iloc[500:1000]

#Extract sex children region  columns

insurance_random_set=ins_tmp[["sex", "children", "region"]]
insurance_random_set

        sex  children     region
500    male         0  southwest
501    male         0  northeast
502    male         1  southeast
503    male         0  southeast
504  female         1  southeast
505    male         3  northwest
506    male         1  northwest
507    male         2  northwest
508  female         0  northeast
509  female         0  southwest
510    male         1  northeast
511    male         0  southeast
512    male         0  northeast
513    male         0  southwest
514    male         1  southwest
515    male         0  southwest
516    male         1  southeast
517    male         2  northwest
518  female         1  southwest
519    male         0  northeast
520  female         0  northeast
521  female         0  southeast
522  female         0  northeast
523  female         0  southeast
524    male         1  southeast
525  female         0  southeast
526  female         2  northwest
527  female         1  southwest
528    male         1  northeast
529    male         0  northeast
..      ...       ...        ...
970  female         3  southeast
971  female         0  northeast
972  female         0  northwest
973  female         0  southwest
974    male         0  southeast
975    male         0  northeast
976    male         0  southeast
977    male         1  southeast
978  female         3  northeast
979  female         0  southeast
980    male         1  northeast
981    male         0  northeast
982    male         3  southwest
983  female         1  northeast
984    male         5  northeast
985  female         1  southwest
986    male         3  northwest
987  female         1  northwest
988    male         0  northeast
989  female         0  northeast
990  female         1  southwest
991  female         2  northeast
992  female         2  southwest
993    male         1  southeast
994  female         3  northwest
995  female         3  northeast
996  female         3  southwest
997  female         0  southeast
998  female         3  northeast
999  female         0  northwest

[500 rows x 3 columns]